/* Construction page */

.single-result {
    @extend .pt-4;
}

.search-like {
    font-size: small;
}

img.search-icon {
    width: 1em;
    height: 1em;
}

.construction-name {
    @extend .col-5;
    /* @include make-col(5); */
    @extend .align-self-start;
    /* @extend .text-center; */
}

// .author-data {
//     // @extend .col-5;
//     /* @include make-col(5); */
//     // @extend .text-center;
// }

.data-links {
    @extend .col-2;
    /* @include make-col(2); */
}

.construction-title,
.description,
.anchors,
.data-links {
    @extend .row;
    /* @include make-row(); */
}

.description > {
    @extend .pt-3;
    /* padding-top: 1.5rem; */
}

// .label-author,
// .label-formula,
// .label-meaning,
// .label-synt,
// .label-anchors,
// .data-sources-label {
//     font-weight: bold;
//     &:after { content:":"; }
// }

/* .anchor-ru, */
/* .anchor-en, */
/* .anchor-schema { */
    /* @extend .col-4; */
/* } */


@mixin non-form-label {
    font-weight: bold;
}


// .label-formula,
// .label-alt-formulas,
// .label-meaning,
// .label-synt,
// .label-anchors,
// .label-ruconstructicon,
// .label-num-changes,
// .label-earliest-change,
// .label-latest-change
.description-label, .change-label {
    // @include non-form-label();
    white-space: pre;
    & + *::before { content: "\a"; white-space: pre}
    // &::after { content: "\a"; white-space: pre}  // doesn't seem to work with spans
}

.description-label {
    @include non-form-label();
}

.change-label {
    font-style: italic;
}

.label-author,
.data-sources-label {
    @include non-form-label()
}


$border-horizontal-percent: 90%;

.description-row + .description-row {
    z-index: 1;
    &::before {
        content: "";
        z-index: -1;
        width: $border-horizontal-percent;
        margin-left: (100% - $border-horizontal-percent) / 2;
        border-bottom: 1px solid $gray-300;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
}

.description-row > div + div {
    @extend .border-start
}

.anchors {
    display: block;
    // padding-left: 0.5rem;
    & > label {
        float: left;
        width: 30%;
        @extend .text-secondary;
        line-height: $line-height-sm;
    }
    & > span {
        width: 70%;
    }
    & > label ~ label, & > span ~ span {
        padding-top: 0.6rem;
    }

    @for $i from 1 through 3 {
        .alternate-variants:has(li:first-child:nth-last-child(#{$i})) + .anchors-container & label ~ label,
        .alternate-variants:has(li:first-child:nth-last-child(#{$i})) + .anchors-container & span ~ span
        {
            padding-top: 0.4rem;
        }
    }
}

// .alternate-variants:has(li:first-child:nth-last-child(4)) + .anchors-container .anchors label + label,
// .alternate-variants:has(li:first-child:nth-last-child(4)) + .anchors-container .anchors span + span
// {
//     padding-top: 0.6rem;
// }


.variants {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    &::before {display: none};
}


@mixin make-hanging-indent($indent, $padding: $indent) {
    text-indent: $indent * -1rem;
    padding-left: $padding *  1rem;
}

/* an alternative is {display: flex; flex-wrap: wrap} on parent  */
.variant {
    text-indent: -1rem;
    padding-left: 1rem;
    // padding-top: 0.4rem;
    display: inline-block;
    margin-right: 0.25rem;
}


.num-changes-data {
    & .num-changes-num {
        padding-left: 1rem;
        display: inline block;
    }
}

.num-changes-num ~ .num-changes-num {
    &::before { content: "\a"; white-space: pre}
}



// .changes-chart {
//     width: $changes_chart_min_width;
//     height: $changes_chart_min_height;
    
//     @media screen and (max-width: $hide_chart_min_width) {
//         display: none;
//         /* content: "Your device is too small"; */
//         &::before {
//             content: "Your device is too small";
//         }
//     }
    
//     @media screen and (min-width: ($changes_chart_min_width * (1.5 + 0.1))) {
//         width: $changes_chart_min_width * 1.25;
//         height: $changes_chart_min_height * 1.25;
//     }
    
//     @media screen and (min-width: ($changes_chart_min_width * (2 + 0.1))) {
//         width: $changes_chart_min_width * 1.4;
//         height: $changes_chart_min_height * 1.4;
//     }
    
//     @media screen and (min-width: ($changes_chart_min_width * (2 + 0.1 + 0.01))) {
//         width: $changes_chart_min_width * 1.7;
//         height: $changes_chart_min_height * 1.7;
//     }
// }

.changes-chart-was-hidden-message {
    @media (min-width: $hide_chart_min_width) {
        display: none;
    }
}

.changes-chart-no-js {
    display: none;
    
    .no-js & {
        display: block;
    }
}


/* Table with data on changes of construction */

.changes-list {
    & > li {
        list-style: none;
        // @extend .border-start;
    }

    & > li.header {
        font-weight: bold;
    }

    & > li + li {
        @extend .pt-4;

        & {
            padding: auto;
        }
    }

    & .number {
        position: sticky;
        top: 20px;
        // margin-left: -3rem;
        left: 3rem;
        max-width: fit-content;

        &.desc {
            margin-left: -4rem;
        }
    }
}


/* Alt style for changes */

$child_list_indent: 1.0rem;

$leaf-width: 0.75rem;

// body {
//     font-size: 100%;
// }

p.tree,
ul.tree,
ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: $child_list_indent;
    margin-top: 1.5rem;

    & > li > *:not(ul) {
        margin-top: -0.5rem;
    }
}

.tree-intro,
ul.tree li {
    position: relative;

    margin-left: 0;
    padding-left: $child_list_indent;
    margin-top: 0rem;
    margin-bottom: 0;

    border-left: 1.5px solid #e8e8e8;
}

ul.tree li:last-child:not(:has(ul)) {
    border-left: none;
}

ul.tree {
    & li::before {
        position: absolute;
        top: 0;
        left: 0;
        
        width: $leaf-width;
        height: 0.5rem;
        vertical-align: top;

        border-bottom: 1.5px solid #e8e8e8;

        content: "";
        display: inline-block;
    }

    & li:first-child::before {
        width: calc(2 * $child_list_indent + $leaf-width);  /* width of horizontal line */
        height: 0rem;                  /* vertical position of line */
        margin-left: calc(-2 * $child_list_indent - 0.05rem);
    }

    & > :is(li::before, li:first-child::before) {
        width: $leaf-width;
        margin-left: 0;
    }
}

ul.tree li:last-child:before {
    border-left: 1.5px solid #e8e8e8;
}



@keyframes target-higlight {
    from {background-color: $purple-200}
    to {background-color: white}
  }

.number:target {
    scroll-margin-top: 100px; 

    // &, li:target-within {
    animation-name: target-higlight;
    animation-duration: 2s;
    // }
}

li:has(.number:target) {
    animation-name: target-higlight;
    animation-duration: 2s;
}


// .changes-references > * + * {
//     @extend .pt-3
// }

.change-types {
    display: block;
    // padding-left: 0.5rem;
    & > * {
        // @include make-hanging-indent(.5)
        width: 100%;
    }

    & > label {
        float: left;
        // width: 40%;
        @extend .text-secondary;
        line-height: $line-height-sm;
    }
    // & > span {
    //     width: 60%;
    // }
    
    & > label ~ label {
        padding-top: 0.4rem;
    }

    & > :not(label) {
        display: inline-block;
        @include make-hanging-indent(.75, 1);

        & ~ :not(label) {
            padding-top: 0.2rem;
        }
    }

    // & *:not(label).change-type {
    //     white-space: pre;
    //     & ~ &::before { content: "\a"; white-space: pre}
    // }

}




@mixin pad-changes-divs($rem) {
    padding-top: $rem*1rem;
} 

// .changes-references > * + * {
//     @include pad-changes-divs(0.5)
// }

.changes-references {
    font-size: smaller;

    .arrow {
        display: none;
    }

    & > * + * {
        @include pad-changes-divs(0.5)
    }
}

.controls {
    ul.menu {
        padding-left: 0rem;
        li {
            display: inline;
            list-style: none;
            
            &:not(:last-child)::after {
                font-size: 0.8rem;
                content: " \2022";
            }
        }
        
    }
}

.examples {
    font-size: smaller;
}

.toggle {
    font-size: smaller
}


/* .table-container { */
    /* height: 300px; */
    /* overflow: hidden; */
/* } */

.table-container {
    @extend .table-responsive;
}

/* .table { */
    /* position: sticky; */
    /* top: 0; */
    /* width: 100%; */
/* } */

/* Section about author and data */


.about-thesis {
    display: block;
}