/* Search page */

#search-form {
    padding: 4px;
    
    & legend.toggle {
        margin-left: -$icon-size; // the size of the icon

        a {
            color: inherit;
            font-weight: inherit;
            
            &[aria-expanded="true"] .fa {
                transform: rotate(90deg);
            }
        }
    }

    & .collapse {
        // border-left: 1px $secondary;
        box-shadow: -2px 0 0 #6c757d;
        border-radius: 5px;
    }
}


.form-field-text {
    @extend .form-floating;
}

/* doesn't seem possible to include this in nesting  */
.form-field-text, .form-check, .form-select {
    @extend .mb-3;
}

.no-pad-children > * {
    padding: none;
}

.gradient-text {
    background-color: rgb(2,0,36);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 6%, rgba(0,212,255,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.sup {
    vertical-align: super;
    font-size: smaller;
    line-height: normal;
    
    * > & {
        line-height: normal
    }
}

.symbol-form {
    font-style: italic;
    @extend .sup;
    @extend .gradient-text;
}

.symbol-logic {
    &::after {
        content: 'Logic -|'
    };
}

.symbol-regex {
    &::after {
        content: 'RegEx'
    };
}


