/* Construction page */

.single-result {
    @extend .pt-4;
}

.search-like {
    font-size: small;
}

img.search-icon {
    width: 1em;
    height: 1em;
}

.construction-name {
    @extend .col-5;
    /* @include make-col(5); */
    @extend .align-self-start;
    /* @extend .text-center; */
}

// .author-data {
//     // @extend .col-5;
//     /* @include make-col(5); */
//     // @extend .text-center;
// }

.data-links {
    @extend .col-2;
    /* @include make-col(2); */
}

.construction-title,
.description,
.anchors,
.data-links {
    @extend .row;
    /* @include make-row(); */
}

.description > {
    @extend .pt-3;
    /* padding-top: 1.5rem; */
}

// .label-author,
// .label-formula,
// .label-meaning,
// .label-synt,
// .label-anchors,
// .data-sources-label {
//     font-weight: bold;
//     &:after { content:":"; }
// }

/* .anchor-ru, */
/* .anchor-en, */
/* .anchor-schema { */
    /* @extend .col-4; */
/* } */


@mixin non-form-label {
    font-weight: bold;
}


.label-formula,
.label-alt-formulas,
.label-meaning,
.label-synt,
.label-anchors,
.label-ruconstructicon {
    @include non-form-label();
    white-space: pre;
    & + *::before { content: "\a"; white-space: pre}
    // &::after { content: "\a"; white-space: pre}  // doesn't seem to work with spans
}

.label-author,
.data-sources-label {
    @include non-form-label()
}


$border-horizontal-percent: 90%;

.description-row + .description-row {
    z-index: 1;
    &::before {
        content: "";
        z-index: -1;
        width: $border-horizontal-percent;
        margin-left: (100% - $border-horizontal-percent) / 2;
        border-bottom: 1px solid $gray-300;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
}

.anchors {
    display: block;
    // padding-left: 0.5rem;
    & > label {
        float: left;
        width: 30%;
        @extend .text-secondary;
        line-height: $line-height-sm;
    }
    & > span {
        width: 70%;
    }
    & > label ~ label, & > span ~ span {
        padding-top: 0.6rem;
    }

    @for $i from 1 through 3 {
        .alternate-variants:has(li:first-child:nth-last-child(#{$i})) + .anchors-container & label ~ label,
        .alternate-variants:has(li:first-child:nth-last-child(#{$i})) + .anchors-container & span ~ span
        {
            padding-top: 0.4rem;
        }
    }
}

// .alternate-variants:has(li:first-child:nth-last-child(4)) + .anchors-container .anchors label + label,
// .alternate-variants:has(li:first-child:nth-last-child(4)) + .anchors-container .anchors span + span
// {
//     padding-top: 0.6rem;
// }


.variants {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    &::before {display: none};
}

/* an alternative is {display: flex; flex-wrap: wrap} on parent  */
.variant {
    text-indent: -1rem;
    padding-left: 1rem;
    // padding-top: 0.4rem;
    display: inline-block;
    margin-right: 0.25rem;
}


.num-changes-data {
    & > * {
        padding-left: 1rem;
    }
    & .num-changes-desc {
        &::after { content: "\a"; white-space: pre}
    }
}



.changes-chart {
    width: $changes_chart_min_width;
    height: $changes_chart_min_height;
    
    @media screen and (max-width: $hide_chart_min_width) {
        display: none;
        /* content: "Your device is too small"; */
        &::before {
            content: "Your device is too small";
        }
    }
    
    @media screen and (min-width: ($changes_chart_min_width * (1.5 + 0.1))) {
        width: $changes_chart_min_width * 1.25;
        height: $changes_chart_min_height * 1.25;
    }
    
    @media screen and (min-width: ($changes_chart_min_width * (2 + 0.1))) {
        width: $changes_chart_min_width * 1.4;
        height: $changes_chart_min_height * 1.4;
    }
    
    @media screen and (min-width: ($changes_chart_min_width * (2 + 0.1 + 0.01))) {
        width: $changes_chart_min_width * 1.7;
        height: $changes_chart_min_height * 1.7;
    }
}

.changes-chart-was-hidden-message {
    @media (min-width: $hide_chart_min_width) {
        display: none;
    }
}

.changes-chart-no-js {
    display: none;
    
    .no-js & {
        display: block;
    }
}

/* Table with data on changes of construction */

/* .table-container { */
    /* height: 300px; */
    /* overflow: hidden; */
/* } */

.table-container {
    @extend .table-responsive;
}

/* .table { */
    /* position: sticky; */
    /* top: 0; */
    /* width: 100%; */
/* } */

/* Section about author and data */


.about-thesis {
    display: block;
}