@use 'sass:color';
@use "sass:map";

@import "functions";

// 3. Include remainder of required Bootstrap stylesheets
@import "variables";
@import "mixins";
@import "tooltip";

@import "reboot";

$enable-negative-margins: true;

$form-floating-padding-y: 0.5rem;
$form-floating-height: add(2.5rem, $input-height-border);

$changes_chart_min_width: 480px;
$changes_chart_min_height: 400px;

$hide_chart_min_width: $changes_chart_min_width * (1 + 0.1);


$table-bg-scale: -95%;
$element-focus-color: #86b7fe;

$input-max-width: 280px;
$form-multi-inputs-gutter: 0.4rem;

body {
    padding-top: 0
}

/* .body-content { */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
/* } */

/* main { */
    /* @extend .container; */
    /* @extend .body-content; */
/* } */


// Tooltips
$tooltip-color:             $black;
$tooltip-bg:                $white;
$tooltip-border-color:      $black;
// $tooltip-border-radius:  $border-radius;
// $tooltip-opacity:        .9;

$placements: left, right, top, bottom;

.tooltip.bordered {
    .tooltip-inner {
        border: 1px solid $tooltip-border-color;
    }

    @each $place in $placements {
        &.bs-tooltip-auto[data-popper-placement^="#{$place}"] .tooltip-arrow::before {
            #{$place}: 0px;
            border-#{$place}-color: rgba(0, 0, 0, 0.9);
        }
    }
}

// font-awesome
$icon-size: 1.25rem!important;

.fa-fw {
    width: $icon-size;
    text-align: center;
}

[data-bs-toggle="collapse"] {
    margin-left: -$icon-size;

    & [aria-expanded="true"] .fa {
        transform: rotate(90deg);
    }
}

@import "custom_search_page";
@import "custom_construction_page";

@import "bootstrap";

// TODO:
// @supports (scroll-snap-align: start) {
//     article {
//       scroll-snap-type: y proximity;
//       scroll-padding-top: 15vh;
//       overflow-y: scroll;
//     }
// }
  

a {
    text-decoration: none;
    font-weight: bolder;
    &:hover {
        text-decoration: underline;
    }
    &.dead {
        color: #dcdcdc;
    }
}

// FORMS

input, select, textarea {
    max-width: $input-max-width;
}

.form-control {
    font-size: 0.95rem;
}


mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


mark::before {
    content: "[highlight start]";
  }
  
  mark::after {
    content: "[highlight end]";
  }
  

// leave some space after scroll

// :target::before {
//     // content: '';
//     // display: block;
//     // height:      180px;
//     // margin-top: -180px;
//     // // z-index: 0;
// }


.main-description {
    > #name {
        font-size: calc(1.25rem + 1vw);
        font-weight: 600;
        display: inline;
    }
    > span {
        font-size: calc(1.1rem + 1vw);
    }
    mark {
        // display: inline-block;
        // line-height: 0em;
        // padding-bottom: 0.5em;

        &#construction {
            // background-color: gainsboro;
            background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #FFD0AE 70%);
        }

        &#history {
            // background-color: gold;
            background: linear-gradient(180deg, rgba(255,255,255,0) 60%, gold 70%);
        }
    }   
}


// .div-wrapper {
//     width:300px;
//     border:solid 1px #000;
// }

.to-hide {
    max-height: 10000em;
    &.hidden{
        // max-height: 100px;
        max-height: 30vh;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        & *:not(h1, h2, h3, h4, h5, h6) {
            -webkit-mask-image: linear-gradient(to bottom, white, transparent);
            mask-image: linear-gradient(to bottom, white, transparent);
        }

        &:hover {
            cursor: pointer;
            @extend .shadow;
        }
    }
    &:not(.hidden) {
        border-color: $element-focus-color;
        box-shadow: 0 0 0 0.3rem lightblue;
    }

    height: auto;
    // transition: ease-in-out all 0.4s;
    transition: max-height 1s ease-in-out;
    overflow: hidden;

    
}


dl.glosses {
    display: flex;
    flex-flow: row wrap;
    // border: solid #333;
    // border-width: 1px 1px 0 0;
  }
  dt {
    flex-basis: 20%;
    padding: 2px 4px;
    // background: #333;
    text-align: right;
    // color: #fff;
  }
  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    // border-bottom: 1px solid #333;
  }
