/* Construction page */

.single-result {
    @extend .pt-4;
}

.search-like {
    font-size: small;
}

img.search-icon {
    width: 1em;
    height: 1em;
}

.construction-name {
    @extend .col-5;
    /* @include make-col(5); */
    @extend .align-self-start;
    /* @extend .text-center; */
}

// .author-data {
//     // @extend .col-5;
//     /* @include make-col(5); */
//     // @extend .text-center;
// }

.data-links {
    @extend .col-2;
    /* @include make-col(2); */
}

.construction-title,
.description,
.anchors,
.data-links {
    @extend .row;
    /* @include make-row(); */
}

.description > {
    @extend .pt-3;
    /* padding-top: 1.5rem; */
}

// .label-author,
// .label-formula,
// .label-meaning,
// .label-synt,
// .label-anchors,
// .data-sources-label {
//     font-weight: bold;
//     &:after { content:":"; }
// }

/* .anchor-ru, */
/* .anchor-en, */
/* .anchor-schema { */
    /* @extend .col-4; */
/* } */


@mixin non-form-label {
    font-weight: bold;
}


// .label-formula,
// .label-alt-formulas,
// .label-meaning,
// .label-synt,
// .label-anchors,
// .label-ruconstructicon,
// .label-num-changes,
// .label-earliest-change,
// .label-latest-change
.description-label, .change-label {
    // @include non-form-label();
    white-space: pre;
    & + *::before { content: "\a"; white-space: pre}
    // &::after { content: "\a"; white-space: pre}  // doesn't seem to work with spans
}

.description-label {
    @include non-form-label();
}

.change-label {
    font-style: italic;
}

.label-author,
.data-sources-label {
    @include non-form-label()
}


$border-horizontal-percent: 90%;

.description-row + .description-row {
    z-index: 1;
    &::before {
        content: "";
        z-index: -1;
        width: $border-horizontal-percent;
        margin-left: (100% - $border-horizontal-percent) / 2;
        border-bottom: 1px solid $gray-300;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
}

.description-row > div + div {
    @extend .border-start
}

.anchors {
    display: block;
    // padding-left: 0.5rem;
    & > label {
        float: left;
        width: 30%;
        @extend .text-secondary;
        line-height: $line-height-sm;
    }
    & > span {
        width: 70%;
    }
    & > label ~ label, & > span ~ span {
        padding-top: 0.6rem;
    }

    @for $i from 1 through 3 {
        .alternate-variants:has(li:first-child:nth-last-child(#{$i})) + .anchors-container & label ~ label,
        .alternate-variants:has(li:first-child:nth-last-child(#{$i})) + .anchors-container & span ~ span
        {
            padding-top: 0.4rem;
        }
    }
}

// .alternate-variants:has(li:first-child:nth-last-child(4)) + .anchors-container .anchors label + label,
// .alternate-variants:has(li:first-child:nth-last-child(4)) + .anchors-container .anchors span + span
// {
//     padding-top: 0.6rem;
// }


.variants {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    &::before {display: none};
}


@mixin make-hanging-indent($indent, $padding: $indent) {
    text-indent: $indent * -1rem;
    padding-left: $padding *  1rem;
}

/* an alternative is {display: flex; flex-wrap: wrap} on parent  */
.variant {
    text-indent: -1rem;
    padding-left: 1rem;
    // padding-top: 0.4rem;
    display: inline-block;
    margin-right: 0.25rem;
}


.num-changes-data {
    & .num-changes-num {
        padding-left: 1rem;
        display: inline block;
    }
}

.num-changes-num ~ .num-changes-num {
    &::before { content: "\a"; white-space: pre}
}



.changes-chart {
    // width: $changes_chart_min_width;
    // height: $changes_chart_min_height;
    
    @include media-breakpoint-down(md) {
        display: none;
    }
//     @media screen and (max-width: $hide_chart_min_width) {
//         display: none;
//         /* content: "Your device is too small"; */
//         &::before {
//             content: "Your device is too small";
//         }
//     }
    
//     @media screen and (min-width: ($changes_chart_min_width * (1.5 + 0.1))) {
//         width: $changes_chart_min_width * 1.25;
//         height: $changes_chart_min_height * 1.25;
//     }
    
//     @media screen and (min-width: ($changes_chart_min_width * (2 + 0.1))) {
//         width: $changes_chart_min_width * 1.4;
//         height: $changes_chart_min_height * 1.4;
//     }
    
//     @media screen and (min-width: ($changes_chart_min_width * (2 + 0.1 + 0.01))) {
//         width: $changes_chart_min_width * 1.7;
//         height: $changes_chart_min_height * 1.7;
//     }
}

.changes-chart-was-hidden-message {
    @media (min-width: $hide_chart_min_width) {
        display: none;
    }
}

.changes-chart-no-js {
    display: none;
    
    .no-js & {
        display: block;
    }
}


/* Table with data on changes of construction */

.changes-list {
    & > li {
        list-style: none;
        // @extend .border-start;
    }

    & > li.header {
        font-weight: bold;
    }

    & > li:not(.controls) + li {
        @extend .pt-2;
        @extend .mt-5;

        & {
            padding: auto;
        }
    }

    & .number {
        position: sticky;
        top: 20px;
        // margin-left: -3rem;
        left: 3rem;
        max-width: fit-content;

        &.desc {
            margin-left: -4rem;
        }
    }
}


$kinds: synt, sem;

$sem-color: red;
$synt-color: blue;

$kind2color: (
    "sem": $sem-color,
    "synt": $synt-color,
);  

$start-color: green;
$final-color: yellow;

$base-size: 1rem;
$index-width: 15%;

ol.changes-list > li {
    list-style: none;

    &.start {
        //  {
        //     border-image: linear-gradient(0deg,blue 20%,#0000 0 80%,blue 0) 10;
        //     /* border: 10px solid #0000; */
        //     /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, gold 70%); */
        //     border-width: 4px;
        //     border-style: solid;
        //     /* border-image: linear-gradient(to right, darkblue, darkorchid) 1; */
        //     border-radius: 90px;
        // }    

        // border-image: linear-gradient(180deg,green 20%,#0000 0 100%) 10;
        // /* border: 10px solid #0000; */
        // /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, gold 70%); */
        // border-width: 3px;
        // border-style: dashed;
        /* border-image: linear-gradient(to right, darkblue, darkorchid) 1; */
        // border-radius: 90px;
        
        background-image: linear-gradient(180deg,green 20%,#0000 0 100%) 10;
        // background-size: 3px 100%;
        // background-repeat: no-repeat;
    }

    &.final {
        // background-image:
        //     repeating-linear-gradient(0deg, $final-color, $final-color 20px, transparent 20px, transparent 30px, $final-color 30px),
        //     repeating-linear-gradient(90deg, $final-color, $final-color 20px, transparent 20px, transparent 30px, $final-color 30px),
        //     repeating-linear-gradient(180deg, $final-color, $final-color 20px, transparent 20px, transparent 30px, $final-color 30px),
        //     repeating-linear-gradient(270deg, $final-color, $final-color 20px, transparent 20px, transparent 30px, $final-color 30px);
        // background-size: 3px 100%, 40% 3px, 3px 100%, 100% 3px;
        // background-position: 0 0, 0 0, 100% 0, 0 100%;
        // background-repeat: no-repeat;
    }

    & label {
        @extend .text-secondary;
        font-size: small;
    }
        
    // @extend .border-start;
    // & .brief-block {

    // }

    & .brief-block > *, & .text-block > .comment {
        text-indent: calc(1.25rem + 0.6ch) hanging;
    }

    & .main {
        line-height: 0.4rem;
        & .title {
            line-height: initial;
        }

        & .index {
            display: inline-block;
            font-size: small;
            color: gray;
            width: $index-width;
            // float: left;
            text-align: left;
        }
        & .stage {
            display: inline-block;
            &:not(label) {
                font-size: 2 * $base-size;
                width: calc(100% - $index-width);
            }
            &:is(label) {
                font-size: x-small;
                padding-left: 15%;
                display: inline-block;
            }
        }
    }

    & .kinds {
        @extend .pt-2;

        & .level-sem {
            & *:not(label), *:not(label)::before {
                color: $sem-color
            } 
        }
        
        & .level-synt {
            & *:not(label), *:not(label)::before {
                color: $synt-color
            } 
        }
    }

    & .fa-tags {
        background: linear-gradient(90deg, $synt-color 45%, $sem-color 45%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & .text-block {
        line-height: 2.25rem;


        @include media-breakpoint-up(md) {
            & > *:first-child {
                margin-top: -1.5 * $base-size;
            }
        }

        & span.years {
            width: 10rem;
            display: inline-block;
        }
        
        & .comment {
            line-height: 0.4rem;

            & .comment-content {
                line-height: initial;
                &::after {
                    content: "\a";
                    white-space: pre
                }
            }
        }

        & .examples {
            line-height: initial;
        }
    }

    & .references {
        font-size: small;
        @extend .pt-2;

        & .next {
            text-align: right;
        }

        & span {
            font-weight: initial;
        }
    }


    & .tags .badge {
        @each $kind in $kinds {
            &.#{$kind} {
                background-color: color.scale(
                    map-get($map: $kind2color, $key: $kind), $alpha: -45%
                );
            }
        } 
    }
}


.arrow {
    pointer-events: none;
    // pointer-events: stroke;

    // &:hover * {
    //     stroke: black;
    // }

    @each $kind in $kinds {
        &:is(.to-#{$kind}) {
            & .arrow__path {
                stroke: map-get($map: $kind2color, $key: $kind);
                fill: transparent
            }

            & .arrow__head line {
                stroke: map-get($map: $kind2color, $key: $kind);
                stroke-width: 1px;
            }
        }
    }

    &:is(.to-sem) .arrow__path {
        stroke-dasharray: 4 2;
    }
}

@keyframes target-higlight {
    from {background-color: $purple-200}
    to {background-color: white}
  }

.index:target {
    scroll-margin-top: 100px; 

    // &, li:target-within {
    animation-name: target-higlight;
    animation-duration: 2s;
    // }
}

li:has(.index:target) {
    animation-name: target-higlight;
    animation-duration: 2s;
}

.controls {
    ul.menu {
        padding-left: 0rem;
        li {
            display: inline;
            list-style: none;
            
            &:not(:last-child)::after {
                font-size: 0.8rem;
                content: " \2022";
            }
        }
        
    }
}

.examples {
    font-size: smaller;
}

.toggle {
    font-size: smaller
}


/* .table-container { */
    /* height: 300px; */
    /* overflow: hidden; */
/* } */

.table-container {
    @extend .table-responsive;
}

/* .table { */
    /* position: sticky; */
    /* top: 0; */
    /* width: 100%; */
/* } */

/* Section about author and data */


.about-thesis {
    display: block;
}