@import "functions";

// 3. Include remainder of required Bootstrap stylesheets
@import "variables";
@import "mixins";

@import "reboot";


$form-floating-padding-y: 0.5rem;
$form-floating-height: add(2.5rem, $input-height-border);

$changes_chart_min_width: 480px;
$changes_chart_min_height: 400px;

$hide_chart_min_width: $changes_chart_min_width * (1 + 0.1);


$table-bg-scale: -95%;

body {
    padding-top: 0
}

/* .body-content { */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
/* } */

/* main { */
    /* @extend .container; */
    /* @extend .body-content; */
/* } */

@import "custom_search_page";
@import "custom_construction_page";

@import "bootstrap";

a {
    text-decoration: none;
    font-weight: bolder;
    &:hover {
        text-decoration: underline;
    }
    &.dead {
        color: #dcdcdc;
    }
}