@import "functions";

// 3. Include remainder of required Bootstrap stylesheets
@import "variables";
@import "mixins";

@import "reboot";

$enable-negative-margins: true;

$form-floating-padding-y: 0.5rem;
$form-floating-height: add(2.5rem, $input-height-border);

$changes_chart_min_width: 480px;
$changes_chart_min_height: 400px;

$hide_chart_min_width: $changes_chart_min_width * (1 + 0.1);


$table-bg-scale: -95%;

body {
    padding-top: 0
}

/* .body-content { */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
/* } */

/* main { */
    /* @extend .container; */
    /* @extend .body-content; */
/* } */



@import "custom_search_page";
@import "custom_construction_page";

@import "bootstrap";

// TODO:
// @supports (scroll-snap-align: start) {
//     article {
//       scroll-snap-type: y proximity;
//       scroll-padding-top: 15vh;
//       overflow-y: scroll;
//     }
// }
  

a {
    text-decoration: none;
    font-weight: bolder;
    &:hover {
        text-decoration: underline;
    }
    &.dead {
        color: #dcdcdc;
    }
}

mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


mark::before {
    content: " [highlight start]\00a0";
  }
  
  mark::after {
    content: "\00a0[highlight end]";
  }
  

// leave some space after scroll

// :target::before {
//     // content: '';
//     // display: block;
//     // height:      180px;
//     // margin-top: -180px;
//     // // z-index: 0;
// }


.main-description {
    > #name {
        font-size: calc(1.25rem + 1vw);
        font-weight: 600;
        display: inline;
    }
    > span {
        font-size: calc(1.1rem + 1vw);
    }
    mark {
        // display: inline-block;
        // line-height: 0em;
        // padding-bottom: 0.5em;

        &#construction {
            // background-color: gainsboro;
            background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #FFD0AE 70%);
        }

        &#history {
            // background-color: gold;
            background: linear-gradient(180deg, rgba(255,255,255,0) 60%, gold 70%);
        }
    }   
}


dl.glosses {
    display: flex;
    flex-flow: row wrap;
    // border: solid #333;
    // border-width: 1px 1px 0 0;
  }
  dt {
    flex-basis: 20%;
    padding: 2px 4px;
    // background: #333;
    text-align: right;
    // color: #fff;
  }
  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    // border-bottom: 1px solid #333;
  }
