/* body { */
    /* padding-top: 50px; */
    /* padding-bottom: 20px; */
/* } */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /* max-width: 280px; */
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.single-phrase {
    margin-bottom: 25px;
}

.phrase-line {
    margin-bottom: -10px;
}

p.khanty_cyr {
    font-weight: bold;
}

p.ru, p.khanty {
    padding-left: 2em;
}

p.khanty {
    font-weight: lighter;
    color: dimgrey;
}

audio {
    height: 25px;
    width:  100px;
    align-content: end;
}

.border-bottom-3 {
    border-width: 3px !important;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}

span.years {
  width: 12em;
  display: inline-block;
}

span.source-change {
  color: #5aa832;
}
