/* body { */
    /* padding-top: 50px; */
    /* padding-bottom: 20px; */
/* } */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.single-phrase {
    margin-bottom: 25px;
}

.phrase-line {
    margin-bottom: -10px;
}

p.khanty_cyr {
    font-weight: bold;
}

p.ru, p.khanty {
    padding-left: 2em;
}

p.khanty {
    font-weight: lighter;
    color: dimgrey;
}

audio {
    height: 25px;
    width:  100px;
    align-content: end;
}

.border-bottom-3 {
    border-width: 3px !important;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}

span.years {
  width: 12em;
  display: inline-block;
}

span.source-change {
  color: #5aa832;
}


/* ul.tree, ul.tree ul {
     list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 10px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
     color: #369;
     font-weight: bold;
     border-left:1px solid rgb(100,100,100);
   }
   ul.tree li:last-child:not(:first-child) {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:12px;
      color:white;
      border-bottom:1px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:1px solid rgb(100,100,100);   
   } */

   /* body {
    font-size: 100%;
  }

  p.tree,
  ul.tree,
  ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.tree ul {
    margin-left: 1.0em;
  }

  .tree-intro,
  ul.tree li {
    position: relative;
    
    margin-left: 0;
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    
    border-left: thin solid #e8e8e8;
  }

  ul.tree li:last-child {
    border-left: none;
  }

  ul.tree li:before {
    position: absolute;
    top: 0;
    left: 0; */

    width: 0.5em; /* width of horizontal line */
    height: 0.5em; /* vertical position of line */
    /* vertical-align: top;
    border-bottom: thin solid #e8e8e8;
    content: "";
    display: inline-block;
  } */

  /* ul.tree li:last-child:before {
    border-left: thin solid #e8e8e8;
  } */
