{% extends "layout.html" %}

{% macro search_like_this(name, value, alt_msg="[искать это]") -%}
    <span class="search-like"><a
        href="{{ url_for('search.search', **{name: value, 'no-search': 1})}}"
            ><img class="search-icon" src="/static/icons/search.svg" alt="{{ alt_msg }}"></a>
    </span>
{%- endmacro %}

{% macro make_link_format_dead(destination, text) -%}
    {% with link = destination,
           link = none if (link == 'link' or link == none) else link %}
       {% if not(link) %}
       <a href="#;" class="dead">
       {% else %}
       <a href="{{ link }}">
       {% endif %}
       {{ text }}
       </a>
    {% endwith %}
{%- endmacro %}

{# {% macro conjugate(count, stem, gender) %}
{% endmacro %} #}

{% block head_links %}
<link rel="canonical" href="/construction/{{ construction.id }}" />
{% endblock %}

{# {% block before_content %}
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"></svg>
{% endblock %} #}

{% block content %}
<div class="row justify-content-center">
   <div class="single-result col-10">
       <div class="construction-title">
           <div class="construction-name">
                <h1>{{ construction.general_info.name }}</h1>
                {# {% for morph_tag in construction.morp %}
                {% endfor %} #}
           </div>
            {# <a class="data-link" href="#on-data-{{ res_id }}">О разметке конструкции</a> #}
       </div>

       <section class="description-row pt-4 row">
           <div class="formula-data col-md-5 border-end">
               <label class="description-label label-formula">Формула</label>
               <span class="formula">{{ construction.formula }}</span>
               {{ search_like_this('construction-formula', construction.formula)}}
           </div>
           <div class="syntax-data col-md-4 border-end">
               <label class="description-label label-synt">Синтаксическая функция</label>
               <span class="synt">{{ construction.synt_function_of_anchor }}</span>
               {{ search_like_this('anchor-synt_function_of_anchor',
                                    construction.synt_function_of_anchor)}}
           </div>
           <div class="meaning-data col-md-3">
               <label class="description-label label-meaning">Значение</label>
               <span class="meaning">{{ construction.contemporary_meaning }}</span>
               {{ search_like_this('construction-meaning',
                                    construction.contemporary_meaning)}}
           </div>
       </section>

       <section class="description-row row">
            <div class="alternate-variants col-md-5 border-end">
               <label class="description-label label-alt-formulas">Альтернативные формулы</label>
               {% set alt_formulas = construction.get_alternate_formulas() %}
               {% if alt_formulas %}
               <ul class="variants">
               {% for alt_variant in construction.get_alternate_formulas() %}
               <li><span class="variant" >{{
                   alt_variant + " " + search_like_this("construction-formula", alt_variant)
               }}</span></li>
               {% endfor %}
               </ul>
               {% endif %}
           </div>
           <div class="anchors-container col-md-4 border-end">
               <label class="description-label label-anchors">Якори</label>
               <div class="anchors">
                   <label class="label-anchor-ru">рус.</label>
                        <span class="anchor-ru">{{ construction.anchor_ru }}</span>
                   <label class="label-anchor-eng">глоссы</label>
                        <span class="anchor-eng">{{ construction.anchor_eng }}</span>
                   <label class="label-anchor-schema">общая схема</label>
                        <span class="anchor-schema">{{ construction.anchor_schema }}</span>
                </div>
           </div>
           
            <div class="constructicon-relation col-md-3">
                <label class="description-label label-ruconstructicon">Русский конструктикон</label>
                {%- if construction.in_rus_constructicon -%}
                {% if construction.rus_constructicon_id %}
                    <span class="constructicon-id">{{ construction.rus_constructicon_id }}</span>
                    (<a class="constructicon-link" href="https://constructicon.ruscorpora.ru/construction/{{construction.rus_constructicon_id}}">Constructicon</a>)
                    {% endif %}
                {% else %}
                    <span class="no-rus-constructicon">Нет связанной страницы</span>
                {% endif %}
            </div>
           
       </section>

        <section>
        <h2>Изменения</h2>
            {% if construction.changes %}
            {% with chs = construction.changes %}
            <section class="description-row row">
                <div class="num-changes-data col-md-4">
                    <label class="description-label label-num-changes">Количество изменений</label>
                    <div class="num-changes">
                        <span class="num-changes-num">{{ chs | length }}</span>
                        <label class="num-changes-desc">всего</label>
                        <span class="num-changes-num">{{ chs|selectattr("level", "eq", "synt")|list|length  }}</span>
                        <label class="num-changes-desc">(синтаксических)</label>
                        <span class="num-changes-num">{{ chs|selectattr("level", "eq", "sem")|list|length }}</span>
                        <label class="num-changes-desc">(семантических)</label>
                    </div>
                </div>
                <div class="earliest-change-data col-md-4">
                    <label class="description-label label-earliest-change">Самый ранний этап</label>
                    {% with earliest = chs | first %}
                    <span class="earliest-change-id">{{ "%s — %s"|format(earliest.first_attested,
                        earliest.last_attested) }}</span>
                    <a class="earliest-change" href="#change-{{ earliest.id1 }}">{{ "[%s]"|format(earliest.id1) }}</a>
                    {% endwith %}
                </div>
                <div class="latest-change-data col-md-4">
                    <label class="description-label label-latest-change">Самый поздний этап</label>
                    {% with latest = construction.changes[-1] %}
                    <span class="latest-change-id">{{ "%s — %s"|format(latest.first_attested,
                        latest.last_attested) }}</span>
                    <a class="latest-change" href="#change-{{ latest.id1 }}">{{ "[%s]"|format(latest.id1) }}</a>
                    {% endwith %}
                </div>
            </section>

        <section class="changes-container">
                <div class="changes-wrapper">
                    <div class="row">
    <!--                    <p>-->
    <!--                        <a class="changes-toggle" href="#changes-{{ res_id }}"-->
    <!--                          role="button" aria-expanded="false" aria-controls="changes-{{ res_id }}">-->
    <!--                                Show history data-->
    <!--                        </a>-->
    <!--                    </p>-->
                    </div>
                    <div class="row mb-5">
                        <div class="changes collapse-show col-12" id="changes-{{ res_id }}">
                            <p class="changes-chart-was-hidden-message">
                                Здесь мог быть отображён график, но он не уместился на экране Вашего устройства.
                                Вы можете скачать его <a href="#">по ссылке</a>.
                            </p>

                            <div class="changes-chart" id="changes-chart-{{ res_id }}">
                                <p class="changes-chart-no-js">
                                    JavaScript недоступен, график отображён как картинка.
                                    Включение JavaScript сделает график интерактивным.
                                </p>
                                <img src="#" class="changes-chart-no-js" width="100%">
                            </div>
                                {% include '_changes_table.html' %}
                        </div>
                    </div>
                </div>
        </section>
        {% endwith %}
        {% else %}
        Изменения ещё описываются, о них можно будет прочитать немного позже.
        {% endif %}
       </section>

       {# <section class="on-data" id="on-data-{{ res_id }}">
            <h2>О разметке</h2>
            <div class="author-data">
                <label class="label-author">Разметчик</label>
                {% if construction.general_info and construction.general_info.author_name %}
                <span class="author">{{ "%s %s"|format(construction.general_info.author_name, 
                    construction.general_info.author_surname)}}</span>
                {% endif %}
            </div>

            <label class="data-sources-label">Источники данных</label>
            {% if construction.general_info %}
            <span class="about-thesis">
                Конструкция была описана разметчиком
                {{ make_link_format_dead(construction.general_info.term_paper,
                                            "в курсовой работе") }}
                .
            </span>
            <span class="about-sample">
                <label>Аннотированные данные</label>
                {{ make_link_format_dead(construction.general_info.annotated_sample,
                                            "доступны по ссылке") }}
                .
            </span>
            {% endif %}
       </section> #}
   </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/arrows.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="/static/scripts/plots_extra.js"></script>
<script type='text/javascript'>
  var changes_graph_{{ res_id }} = {{graphJSON | safe}};
  if (changes_graph_{{ res_id }}){
      var config = {responsive: true}
      Plotly.plot('changes-chart-{{ res_id }}',changes_graph_{{ res_id }},{}, config);
  }
</script>
{% endblock %}
