{% extends "layout.html" %}

{% macro fill_if_queried(param, query) -%}
    {%- if query is defined and param in query and query[param] %}
        value="{{ query[param] }}"
    {% endif -%}
{%- endmacro %}

{% block head_links %}
<link rel="canonical" href="/" />
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-10 pt-5 justify-content-center main-description">
    <h1 id="name">Диахроникон</h1>
    {# <br> #}
    <span class="main-description-text">
        описывает <mark id="construction">конструкции</mark> русского языка<br>
        в <mark id="history">исторической</mark> перспективе.
    </span>
</div>


<div class="col-10 pt-3">

    {# <p>
    В <i>Диахрониконе </i> конструкции русского языка показаны в исторической перспективе.
    </p>

    <ul>
    <li>Что такое конструкции?</li>
    <li>Как создаётся описание конструкций?</li>
    </ul> #}
    <div class="container px-4">
        <div class="row terms main-terms mb-5 mb-sm-1">
            <div class="col-6">
                <div class="card to-hide hidden">
                    <div class="card-body">
                        <h5 class="card-title">Конструкции</h5>
                        <p class="card-text">Конструкции &mdash; это языковые выражения,
                        которые похожи на идиомы: их форма и значение
                        не выводится из соответствующей формы и значения частей.
                        Например, значение современной конструкции <em>Бог знает что</em>
                        (=нечто неизвестное для говорящего и отрицательно им оцениваемое)
                        не выводится тривиальным образом из элементов <em>Бог</em>,
                        <em>знать</em> и <em>что</em>, а значение конструкции <em>пруд пруди</em>
                        (=очень много) не выводится из компонентов <em>пруд</em> и <em>прудить</em>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card to-hide hidden">
                    <div class="card-body">
                        <h5>Историческая перспектива</h5>
                        <p class="card-text">База показывает, как развивались такие конструкции.
                        На конкретных примерах можно увидеть, как с течением времени (XVI – XXI вв.)
                        композициональное (значение выводится из частей) сочетание или предложение
                        эволюционировало в идиоматичную конструкцию со значением количества, времени,
                        неопределенности и/или оценки, сужало и/или расширяло семантику и сочетаемость.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# <div class="terms">
        <div>Конструкция</div>
        <div>Якорь конструкции</div>
    </div> #}

    <form class="row justify-content-center" id="search-form" action="/" method="post">
    {{ _form.csrf_tag }}
    <div class="col-4">
        {# <p>Выберите конструкцию, о которой хотите узнать.</p> #}
        {{ _form.formula() }}
        <button class="btn btn-primary" type="submit">Показать</button>
        <div id="form-error feedback-invalid"></div>
    </div>
    </form>

    {% include 'main_page_simple_search_result.html' %}

</div>
</div>

{% endblock %}


{% block scripts %}
<script src="/static/scripts/navbar_main.js"></script>
<script src="/static/scripts/cards.js"></script>
{% endblock %}