{% extends "layout.html" %}

{% macro fill_if_queried(param, query) -%}
    {%- if query is defined and param in query and query[param] %}
        value="{{ query[param] }}"
    {% endif -%}
{%- endmacro %}

{% block head_links %}
<link rel="canonical" href="/" />
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-10 pt-5 justify-content-center main-description">
    <h1 id="name">Диахроникон</h1>
    {# <br> #}
    <span class="main-description-text">
        описывает <mark id="construction">конструкции</mark> русского языка<br>
        в <mark id="history">исторической</mark> перспективе.
    </span>
</div>


<div class="col-10 pt-3">

    {# <p>
    В <i>Диахрониконе </i> конструкции русского языка показаны в исторической перспективе.
    </p>

    <ul>
    <li>Что такое конструкции?</li>
    <li>Как создаётся описание конструкций?</li>
    </ul> #}

    <form class="row justify-content-center" id="search-form" action="/" method="post">
    {{ _form.csrf_tag }}
    <div class="col-4">
        {# <p>Выберите конструкцию, о которой хотите узнать.</p> #}
        {{ _form.formula() }}
        <button class="btn btn-primary" type="submit">Показать</button>
        <div id="form-error feedback-invalid"></div>
    </div>
    </form>

    {% include 'main_page_simple_search_result.html' %}

</div>
</div>

{% endblock %}


{% block scripts %}
<script src="/static/scripts/navbar_main.js"></script>
{% endblock %}