{% extends "layout.html" %}

{% block content %}

<h1 class="mt-3">Поиск конструкций в Диахрониконе</h1>

{% if _form.is_submitted() %}
<a class="toggle" data-bs-toggle="collapse"
   href="#search-form" role="button"
   aria-expanded="{{ 'false' if _form.is_submitted() else 'true' }}"
>
    <i class="fa fa-fw fa-solid fa-angle-right"></i>
    Показать форму
</a>
{# {% else %} #}
{% endif %}

<form class="collapse {{ '' if _form.is_submitted() else 'show' }} mt-4" id="search-form" action="/form#results" method="post">
    {# <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> #}
    {# {{ form.csrf_tag }} #}

    
    {# {%- for _form in form.forms -%} #}
    {{ _form.csrf_tag }}

    <div class="row">
        <fieldset name="construction-general" class="col-md-3">
            <legend>Общее</legend>
            {{ _form.construction.csrf_tag }}

            {# {{ _form.construction.construction_id }} #}
            {{ _form.construction.formula }}
            {{ _form.construction.contemporary_meaning }}
            {# {{ _form.construction.in_rus_constructicon }} #}

            {# {{ _form.construction.num_changes.label }} #}
            {# {{ _form.construction.num_changes_sign }}
            {{ _form.construction.num_changes }} #}
            <div class="multi-inputs num_changes">
                {{ _form.construction.num_changes__from }}
                {{ _form.construction.num_changes__to }}
            </div>
        </fieldset>
        
        <fieldset name="anchor", class="col-md-3">
            <legend class="toggle">
                <a class="collapse-toggle" data-bs-toggle="collapse" href="#anchor-extra" role="button" aria-expanded="false">
                    <i class="fa fa-fw fa-solid fa-angle-right"></i>
                    Якорь
                </a>
            </legend>
            {{ _form.anchor.csrf_tag }}

            {{ _form.anchor.synt_function_of_anchor }}
            <div class="collapse" id="anchor-extra">
                {{ _form.anchor.anchor_schema }}
                {{ _form.anchor.anchor_ru }}
            </div>

            <div class="multi-inputs num_changes">
                {{ _form.anchor.anchor_length__from }}
                {{ _form.anchor.anchor_length__to }}
            </div>
        </fieldset>
    </div>
    
    {#
    <fieldset name="construction-anchor" class="col-md-3">
        <legend>Якорь</legend>
        {{ _form.anchor.csrf_tag }}

        {{ _form.anchor.synt_function_of_anchor }}
        {{ _form.anchor.anchor_schema }}
        {{ _form.anchor.anchor_ru }}
    </fieldset> #}

    <div class="row">
    {% for _change in _form.changes %}
        {{ _change.csrf_tag }}
        <fieldset name="changes" class="col-md-3"
            {# {% if loop.index > 1 %}{{ style="display: none" }}{% endif %} #}
        >
            <legend class="toggle">
                <a class="collapse-toggle" data-bs-toggle="collapse" href="#changes-{{ loop.index }}-extra"
                   role="button" aria-expanded="false">
                    <i class="fa fa-fw fa-solid fa-angle-right"></i>
                    {{ "Этап в истории конструкции" if loop.index == 1 else "и этап в истории конструкции" }}
                </a>
            </legend>

            {{ _change.formula }}
            {# {{ _change.stage_abs }} #}
            {{ _change.level }}
            {{ _change.type_of_change }}

            <div class="collapse" id="changes-{{ loop.index }}-extra">
                {{ _change.subtype_of_change }}            
                <div class="multi-inputs duration" aria-describedby="changes-{{ loop.index }}-duration-help">
                    {{ _change.duration__from }}
                    {{ _change.duration__to }}
                    <div class="form-text" id="changes-{{ loop.index }}-duration-help"></div>
                </div>

                <fieldset class="multi-inputs first_attested"
                        aria-describedby="changes-{{ loop.index }}-first_attested-help"
                        aria-labelledby="changes-{{ loop.index }}-first_attested-title"
                >
                    <legend id="changes-{{ loop.index }}-first_attested-title">Первое вхождение в таком виде</legend>
                    {{ _change.first_attested__from }}
                    {{ _change.first_attested__to }}
                    {# <div class="form-text" id="changes-{{ loop.index }}-first_attested-help">Первое вхождение в таком виде (год)</div> #}
                </fieldset>

                <fieldset class="multi-inputs last_attested"
                    aria-describedby="changes-{{ loop.index }}-last_attested-help"
                    aria-labelledby="changes-{{ loop.index }}-first_attested-title"
                >
                    <legend id="changes-{{ loop.index }}-last_attested-title">Последнее вхождение в таком виде</legend>
                    {{ _change.last_attested__from }}
                    {{ _change.last_attested__to }}
                </fieldset>
            </div>

        </fieldset>
    {%- endfor -%}
    </div>
    
    <div class="row mt-2">
        <div class="col-1">
            <button class="btn btn-primary" type="submit">Искать</button>
            <div id="form-error feedback-invalid"></div>
        </div>
        <div class="col-1">
            <input class="btn btn-secondary" type="reset" value="Очистить форму">        
        </div>
    </div>
</form>

{% include "_simple_search_result.html" %}

{% endblock %}

{% block scripts %}
<script src="/static/scripts/search_form_parse.js"></script>
<script src="/static/scripts/add_search_form.js"></script>
{% endblock %}