{% extends "layout.html" %}

{% block content %}

{% macro fill_if_queried(param, query) -%}
    {%- if query is defined and param in query and query[param] %}
        value="{{ query[param] }}"
    {% endif -%}
{%- endmacro %}

Здесь можно выполнить простой поиск по формуле конструкции.

<form class="row" id="search-form" action="/simple-form" method="post">
  {{ _form.csrf_tag }}
  <div class="col-md-4 align-self-center">
    {{ _form.formula() }}
    <button class="btn btn-primary" type="submit">Искать</button>
    <div id="form-error feedback-invalid"></div>
  </div>
</form>

{% include '_simple_search_result.html' %}

{% endblock %}

