{% extends "layout.html" %}

{% block content %}

{% macro fill_if_queried(param, query) -%}
    {%- if query is defined and param in query and query[param] %}
        value="{{ query[param] }}"
    {% endif -%}
{%- endmacro %}

Здесь можно выполнить простой поиск по формуле конструкции.

<form class="row" id="search-form" action="/simple-form" method="post">
  {# <div class="form-field-text">
      <input type="text" class="form-control" id="constructionFormula"
             placeholder="конструкция" name="c" list="constructions"
             {{ fill_if_queried('c', query) }}
      >
      <label for="constructionFormula">Конструкция</label>
<!--      <div class="error feedback-invalid">Укажите положительное целое число</div>-->
      {%- if items -%}
      <datalist id="constructions">
        {%- for item in items %}
            <option value="{{ item }}"></option>
        {% endfor -%}
      </datalist>
      {%- endif -%}
  </div>
  #}
  {{ _form.csrf_tag }}
  <div class="col-md-4"></div>
  <div class="col-md-4">
    {{ _form.formula() }}
    <button class="btn btn-primary" type="submit">Искать</button>
    <div id="form-error feedback-invalid"></div>
  </div>
  {# <div class="col-md-4"></div> #}

  {#
  <div class="col-12">
        <button class="btn btn-primary" type="submit">Искать</button>
        <div id="form-error feedback-invalid"></div>
  </div>
  #}
</form>

{% include '_simple_search_result.html' %}

{% endblock %}

