{% extends "layout.html" %}

{% block content %}


<form class="row" id="search-form" action="/form" method="post">
    {# <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> #}
    {# {{ form.csrf_tag }} #}

    
    {# {%- for _form in form.forms -%} #}
    {{ _form.csrf_tag }}
    <fieldset name="construction-general" class="col-md-3">
        <legend>Общее</legend>
        {{ _form.construction.csrf_tag }}

        {{ _form.construction.construction_id }}
        {{ _form.construction.formula }}
        {{ _form.construction.meaning }}
        {{ _form.construction.in_rus_constructicon }}

        {{ _form.construction.num_changes_sign }}
        {{ _form.construction.num_changes }}
        
        <legend>Якорь</legend>
        {{ _form.anchor.csrf_tag }}

        {{ _form.anchor.synt_functions_of_anchor }}
        {{ _form.anchor.anchor_schema }}
        {{ _form.anchor.anchor_ru }}
    </fieldset>
    
    {#
    <fieldset name="construction-anchor" class="col-md-3">
        <legend>Якорь</legend>
        {{ _form.anchor.csrf_tag }}

        {{ _form.anchor.synt_function_of_anchor }}
        {{ _form.anchor.anchor_schema }}
        {{ _form.anchor.anchor_ru }}
    </fieldset> #}

    
        {% for _change in _form.changes %}
        {{ _change.csrf_tag }}
        <fieldset name="changes" class="col-md-3"
            {# {% if loop.index > 1 %}{{ style="display: none" }}{% endif %} #}
        >
            <legend>{{ "Изменения" if loop.index == 1 else "& изменения..." }}</legend>

            {{ _change.formula }}
            {{ _change.stage_abs }}
            {{ _change.level }}
            {{ _change.type_of_change }}
            {{ _change.subtype_of_change }}
            {{ _change.duration_sign }}
            {{ _change.duration }}
            {{ _change.first_attested }}
            {{ _change.last_attested }}
        
        </fieldset>
        {%- endfor -%}

    
    {# {%- endfor -%} #}
    
    
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Искать</button>
        <div id="form-error feedback-invalid"></div>
    </div>
</form>

{% include "_simple_search_result.html" %}

{% endblock %}

{% block scripts %}
<script src="/static/scripts/search_form_parse.js"></script>
<script src="/static/scripts/add_search_form.js"></script>
{% endblock %}