{% extends "layout.html" %}

{% block content %}

{% macro fill_if_queried(param, query, default="") -%}
    {%- if query is defined and param in query and query[param] %}
        value="{{ query[param] }}"
    {% endif -%}
{%- endmacro %}

{% macro fill_select_if_queried(param, query, val, is_default) -%}
    {%- if (query is defined and param in query and query[param] == val)
           or is_default %}
        selected
    {% endif -%}
{%- endmacro %}


<form class="row" id="search-form" action="#" method="get">
<!--    <div class="form-text" id="formulaHelp">-->
<!--        В полях со знаком-->
<!--            <span class="symbol symbol-form symbol-logic"></span>-->
<!--        можно использовать логические операторы, а в полях со знаком-->
<!--            <span class="symbol symbol-form symbol-regex"></span>-->
<!--        &ndash; логические выражения.-->
<!--        <a href="#" aria-disabled="true">Подробнее</a>-->
<!--    </div>-->

    <fieldset name="construction-general" class="col-md-3">
        <legend>Общая информация</legend>

        <div class="form-field-text">
            <input type="text" class="form-control" id="constructionId"
                   placeholder="id" name="c-id"
                   {{ fill_if_queried("c-id", query) }}
            >
            <label for="constructionId">id</label>
<!--            <div class="error feedback-invalid">Укажите положительное целое число</div>-->
        </div>

        <div class="form-field-text">
            <input type="text" class="form-control" id="formula"
                   placeholder="formula" aria-describedby="formulaHelp"
                   name="c-formula"
                   {{ fill_if_queried("c-formula", query) }}
            >
            <label for="formula">Формула</label>
<!--                <div class="form-text" id="formulaHelp">-->
<!--                    Формула может быть регулярным выражением.-->
<!--                    <a href="#" aria-disabled="true">Подробнее</a>-->
<!--                </div>-->
            <div class="error feedback-invalid"></div>
        </div>

        <div class="form-field-text">
            <input type="text" class="form-control" id="meaning"
                   list="meaning_values"
                   placeholder="meaning" aria-describedby="meaningHelp"
                   name="c-meaning"
                   {{ fill_if_queried("c-meaning", query) }}
            >
            <label for="meaning>
                Значение
<!--                <span class="symbol symbol-form symbol-logic"></span>-->
            </label>
            {%- if meaning_values -%}
            <datalist id="meaning_values">
            {% for meaning_ in meaning_values %}
                <option value="{{ meaning_ }}"></option>
            {% endfor %}
            </datalist>
            {%- endif -%}
<!--                <div class="form-text" id="meaningHelp">-->
<!--                    Значение может быть регулярным выражением.-->
<!--                    <a href="#" aria-disabled="true">Подробнее</a>-->
<!--                </div>-->
            <div class="error feedback-invalid"></div>
        </div>


<!--            <div class="row">-->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="in_rus_constructicon"
                   name="c-in_rus_constructicon"
                   {{ fill_if_queried("c-in_rus_constructicon", query) }}
            >
            <label class="form-check-label" for="in_rus_constructicon">
              Есть в конструктиконе
            </label>
            <div class="error feedback-invalid"></div>
        </div>

        <div class="form-field-text">
            <input type="text" class="form-control" id="rus_constructicon_id"
               placeholder="rus_constructicon_id" name="c-rus_constructicon_id"
                   {{ fill_if_queried("c-rus_constructicon_id", query) }}
            >
            <label for="rus_constructicon_id">id (Конструктикон)</label>
            <div class="error feedback-invalid"></div>
        </div>
<!--            </div>-->
    </fieldset>

    <fieldset name="construction-anchor" class="col-md-3">
        <legend>Якорь</legend>

        <div class="form-field-text">
            <input type="text" class="form-control" id="synt_function_of_anchor"
                   list="synt_function_of_anchor_values" placeholder="synt_function_of_anchor"
                   name="c-synt_function_of_anchor"
                  {{ fill_if_queried("c-synt_function_of_anchor", query) }}
            >
            <label for="synt_function_of_anchor">Синт. функция якоря</label>
            {%- if synt_functions_anchor -%}
            <datalist id="synt_function_of_anchor_values">
                {%- for func_ in synt_functions_anchor %}
                    <option value="{{ func_ }}"></option>
                {% endfor -%}
            </datalist>
            {%- endif -%}
            <div class="error feedback-invalid"></div>
        </div>

        <div class="form-field-text">
            <input type="text" class="form-control" id="c-anchor_schema"
                   placeholder="c-anchor_schema" name="c-anchor_schema"
                   {{ fill_if_queried("c-anchor_schema", query) }}
            >
            <label for="c-anchor_schema">Схема якоря</label>
            <div class="error feedback-invalid"></div>
        </div>

        <div class="form-field-text">
            <input type="text" class="form-control" id="c-anchor_ru"
                   placeholder="c-anchor_ru" name="c-anchor_ru"
                   {{ fill_if_queried("c-anchor_ru", query) }}
            >
            <label for="c-anchor_ru">Якорь (рус.)</label>
            <div class="error feedback-invalid"></div>
        </div>

        <div class="form-field-text">
            <input type="text" class="form-control" id="c-anchor_eng"
                   placeholder="c-anchor_eng" name="c-anchor_eng"
                   {{ fill_if_queried("c-anchor_eng", query) }}
            >
            <label for="c-anchor_eng">Якорь (англ.)</label>
            <div class="error feedback-invalid"></div>
        </div>
    </fieldset>

    <fieldset name="changes" class="col-md-3">
        <legend>Изменения конструкции</legend>

        <div class="form-field-text" >
            <input type="text" class="form-control" id="change-1-stage"
                   placeholder="change-1-stage" name="change-1-stage"
                   {{ fill_if_queried("change-1-stage", query) }}
            >
            <label for="change-1-stage">Формула в этот период</label>
            <div class="error feedback-invalid"></div>
        </div>

        <div class="form-field-text" >
            <input type="number" class="form-control" id="change-1-stage-abs"
                   placeholder="change-1-stage-abs" name="change-1-stage-abs"
                   list="stage-numbers"
                   {{ fill_if_queried("change-1-stage-abs", query) }}
            >
            <label for="change-1-stage-abs">Этап в истории конструкции</label>
            <div class="error feedback-invalid"></div>
            <datalist id="stage-numbers">
                <option label="первый" value="1"></option>
                <option selected label="предпоследний" value="-2"></option>
                <option label="последний" value="-1"></option>
            </datalist>
        </div>

<!--            relative to other changes e.g. generated by JS   -->
<!--            <div class="form-field-text" >-->
<!--                <input type="number" class="form-control" id="change-1-stage-rel"-->
<!--                       placeholder="change-1-formula" name="change-1-formula">-->
<!--                <label for="constraint-1-element">-->
<!--                    Этап в истории конструкции (относительный)</label>-->
<!--                <div class="error feedback-invalid"></div>-->
<!--            </div>-->

        <select class="form-select"
                name="change-1-level">
            <option value="" selected>Выберите тип изменения</option>
            <option value="synt"
                {{ fill_select_if_queried("change-1-level", query, "synt") }}
            >Синтаксическое</option>
            <option value="sem"
                {{ fill_select_if_queried("change-1-level", query, "sem") }}
            >Семантическое</option>
<!--            <option value="any">Любое</option>-->
        </select>

        <div class="form-field-text">
            <input type="text" class="form-control" id="type_of_change"
                   list="types_of_change_values" placeholder="synt_function_of_anchor"
                   name="change-1-type_of_change"
                  {{ fill_if_queried("change-1-type_of_change", query) }}
            >
            <label for="type_of_change">Подтипы изменений</label>
            {%- if types_of_change -%}
            <datalist id="types_of_change_values">
                {%- for type_ in types_of_change %}
                    <option value="{{ type_ }}"></option>
                {% endfor -%}
            </datalist>
            {%- endif -%}
            <div class="error feedback-invalid"></div>
        </div>

<!--        <div class="row no-pad-children">-->
        <select class="form-select col-2" aria-label="Выбрать длительность изменения"
                name="change-1-duration_sign">
            <option value="" selected>Длительность это (&leqq;, &geqq; или &equals;)</option>
            <option value="le"
                {{ fill_select_if_queried("change-1-duration_sign", query, "le") }}
            >Максимум (&leqq;)</option>
            <option value="ge"
                {{ fill_select_if_queried("change-1-duration_sign", query, "ge") }}
            >Минимум (&geqq;)</option>
            <option value="eq"
                {{ fill_select_if_queried("change-1-duration_sign", query, "eq") }}
            >Ровно (&equals;)</option>
        </select>

        <div class="form-field-text">
            <input type="text" class="form-control col-10" id="change-1-duration"
                   placeholder="change-1-duration" name="change-1-duration"
                   {{ fill_if_queried("change-1-duration", query) }}
            >
            <label for="change-1-duration">Длительность периода</label>
            <div class="error feedback-invalid"></div>
        </div>
<!--        </div>-->

    <div class="form-field-text">
        <input type="text" class="form-control" id="change-1-first_attested"
               placeholder="change-1-first_attested" name="change-1-first_attested"
               {{ fill_if_queried("change-1-first_attested", query) }}
        >
        <label for="change-1-first_attested">Первое вхождение в таком виде</label>
        <div class="error feedback-invalid"></div>
    </div>
    <div class="form-field-text">
        <input type="text" class="form-control" id="change-1-last_attested"
               placeholder="2020" name="change-1-last_attested"
               {{ fill_if_queried("change-1-last_attested", query) }}
        >
        <label for="change-1-last_attested">Последнее вхождение в таком виде</label>
        <div class="error feedback-invalid"></div>
    </div>
    <button class="btn btn-secondary" onclick="add_another_change()">Добавить изменение</button>
    </fieldset>

    <fieldset name="constraint-1-construction" class="col-md-3">
        <legend>Ограничения</legend>

<!--        <div class="row no-pad-children">-->
            <div class="form-field-text" >
                <input type="text" class="form-control" id="constraint-1-element"
                       placeholder="constraint-1-element" name="constraint-1-element">
                <label for="constraint-1-element">Элемент</label>
                <div class="error feedback-invalid"></div>
            </div>

            <select class="form-select" aria-label="Default select example"
                    name="constraint-1-type">
                  <option selected value="">Выберите тип ограничения</option>
                  <option value="synt">Синтаксическое</option>
                  <option value="sem">Семантическое</option>
                  <option value="">Любое</option>
            </select>

<!--            <div class="form-field-text col-md-3">-->
<!--&lt;!&ndash;                <input type="" class="form-control" id=""&ndash;&gt;-->
<!--&lt;!&ndash;                       placeholder="">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for=""></label>&ndash;&gt;-->
<!--                <div class="error feedback-invalid"></div>-->
<!--            </div>-->

            <div class="form-field-text col-12">
                <input type="text" class="form-control" id="constraint-1-value"
                       placeholder="constraint-1-value">
                <label for="constraint-1-value">Ограничение</label>
                <div class="error feedback-invalid"></div>
            </div>
<!--        </div>-->
    </fieldset>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Искать</button>
        <div id="form-error feedback-invalid"></div>
    </div>
</form>
<!--</div>-->

{% include "_search_result.html" %}


{% endblock %}

{% block scripts %}
<script src="/static/scripts/search_form_parse.js"></script>
<script src="/static/scripts/add_search_form.js"></script>
{% endblock %}