<form>
    <ul id="constructions"><li><label for="constructions-0">Constructions-0</label> <table id="constructions-0"><tr><th><label for="constructions-0-changes">Changes</label></th><td><ul id="constructions-0-changes"><li><label for="constructions-0-changes-0">Changes-0</label> <table id="constructions-0-changes-0"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="constructions-0-changes-0-stage" aria-describedby="stage-help" placeholder="constructions-0-changes-0-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="constructions-0-changes-0-period_duration" aria-describedby="duration-help" placeholder="constructions-0-changes-0-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li><li><label for="constructions-0-changes-1">Changes-1</label> <table id="constructions-0-changes-1"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="constructions-0-changes-1-stage" aria-describedby="stage-help" placeholder="constructions-0-changes-1-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="constructions-0-changes-1-period_duration" aria-describedby="duration-help" placeholder="constructions-0-changes-1-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li><li><label for="constructions-0-changes-2">Changes-2</label> <table id="constructions-0-changes-2"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="constructions-0-changes-2-stage" aria-describedby="stage-help" placeholder="constructions-0-changes-2-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="constructions-0-changes-2-period_duration" aria-describedby="duration-help" placeholder="constructions-0-changes-2-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li></ul></td></tr><tr><th><label for="formula">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="formula" name="constructions-0-formula" aria-describedby="formula-help" placeholder="constructions-0-formula">
        <label for="formula">Формула</label>
        <div class="form-text" id="formula-help" >формула конструкции в последний период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li><li><label for="constructions-1">Constructions-1</label> <table id="constructions-1"><tr><th><label for="constructions-1-changes">Changes</label></th><td><ul id="constructions-1-changes"><li><label for="constructions-1-changes-0">Changes-0</label> <table id="constructions-1-changes-0"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="constructions-1-changes-0-stage" aria-describedby="stage-help" placeholder="constructions-1-changes-0-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="constructions-1-changes-0-period_duration" aria-describedby="duration-help" placeholder="constructions-1-changes-0-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li><li><label for="constructions-1-changes-1">Changes-1</label> <table id="constructions-1-changes-1"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="constructions-1-changes-1-stage" aria-describedby="stage-help" placeholder="constructions-1-changes-1-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="constructions-1-changes-1-period_duration" aria-describedby="duration-help" placeholder="constructions-1-changes-1-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li><li><label for="constructions-1-changes-2">Changes-2</label> <table id="constructions-1-changes-2"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="constructions-1-changes-2-stage" aria-describedby="stage-help" placeholder="constructions-1-changes-2-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="constructions-1-changes-2-period_duration" aria-describedby="duration-help" placeholder="constructions-1-changes-2-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li></ul></td></tr><tr><th><label for="formula">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="formula" name="constructions-1-formula" aria-describedby="formula-help" placeholder="constructions-1-formula">
        <label for="formula">Формула</label>
        <div class="form-text" id="formula-help" >формула конструкции в последний период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li></ul>

</form>