<form>
    <ul id="changes"><li><label for="changes-0">Changes-0</label> <table id="changes-0"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="changes-0-stage" aria-describedby="stage-help" placeholder="changes-0-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="changes-0-period_duration" aria-describedby="duration-help" placeholder="changes-0-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li><li><label for="changes-1">Changes-1</label> <table id="changes-1"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="changes-1-stage" aria-describedby="stage-help" placeholder="changes-1-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="changes-1-period_duration" aria-describedby="duration-help" placeholder="changes-1-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li><li><label for="changes-2">Changes-2</label> <table id="changes-2"><tr><th><label for="stage">Формула</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="stage" name="changes-2-stage" aria-describedby="stage-help" placeholder="changes-2-stage">
        <label for="stage">Формула</label>
        <div class="form-text" id="stage-help" >формула конструкции в этот период</div>
        <div class="error feedback-invalid"></div>
      </div></td></tr><tr><th><label for="duration">Длительность периода</label></th><td><div class="form-field-text" >
        <input type="text" class="form-control" id="duration" name="changes-2-period_duration" aria-describedby="duration-help" placeholder="changes-2-period_duration">
        <label for="duration">Длительность периода</label>
        <div class="form-text" id="duration-help" ></div>
        <div class="error feedback-invalid"></div>
      </div></td></tr></table></li></ul>
      
      <div class="form-field-text" >
        <input type="text" class="form-control" id="formula" name="formula" aria-describedby="formula-help" placeholder="formula">
        <label for="formula">Формула</label>
        <div class="form-text" id="formula-help" >формула конструкции в последний период</div>
        <div class="error feedback-invalid"></div>
      </div>

</form>
